/* style.css */
.button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    background-color: lightgray;
    color: gray;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pressed {
    background-color: green;
}

.fourButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourButtons>div {
    display: flex;
    flex-direction: row;
}

.sideButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GamepadBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio: 16/9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40% 40% 30% 30% / 30% 30% 10% 10% ;
    background: gray;
}
@media (min-aspect-ratio:16/9){
    .GamepadBackground{
        height:65%;
    }        
}
@media (max-aspect-ratio:16/9) {
    .GamepadBackground{
        width: 65%;
    }
}
.GamepadBackground::before{
    content: "";
    position: absolute;
    top: 15%;
    left: -10%;
    width: 25%;
    height: 120%;
    border-radius: 50%;
    background: gray;
    transform: rotate(10deg);
}
.GamepadBackground::after{
    content: "";
    position: absolute;
    top: 15%;
    left: 85%;
    width: 25%;
    height: 120%;
    border-radius: 50%;
    background: gray;
    transform: rotate(-10deg);
    z-index: -1;
}