.joystick-base {
  position: absolute;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: 2px solid black;
}

.joystick-knob {
  position: absolute;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-size: 2.5vw;
  border: 2px solid black;
}
